<div class="wrapper">
  <table class="table">
    <thead>
      <tr class="row header blue">
        <th class="cell">名前</th>
        <th class="cell">糖質</th>
        <th class="cell">種類</th>
        <th class="cell">操作</th>
      </tr>
    </thead>
    <tbody id="js-foods">
    </tbody>
  </table>
</div>
