<div class="search">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="wrapper">
  <table class="table">
    <thead>
      <tr class="row header blue">
        <th class="cell">名前</th>
        <th class="cell">糖質</th>
        <th class="cell">種類</th>
        <th class="cell">操作</th>
      </tr>
    </thead>
    <tbody class="row" id="js-foods">
    </tbody>
  </table>
</div>
