<div class="search">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :name_cont %>

    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="wrapper">
  <div class="table">
    <div class="row header blue">
      <div class="cell">
        名前
      </div>
      <div class="cell">
        糖質
      </div>
      <div class="cell">
        種類
      </div>
      <div class="cell">
        操作
      </div>
    </div>
    <div class="row" id="js-foods">
    </div>
  </div>
</div>
