<header role="banner">
  <%= image_tag "logo.png", width: 200, id: "logo-main" %>
  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "ホームページ", root_path %></li>
          <li class="active"><%= link_to "糖質を検索", foods_path %></li>
          <li><%= link_to "種類", categories_path, data: { turbolinks: false } %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
